ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .container {
    display: grid;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color:#333;
    padding: 10px;
  }
  
  
  .product1 {
    font-size: 20px;
    text-align: center;
    color: aqua;

  }
  .product2 {
    font-size: 20px;
    text-align: center;
    color: aqua;
  

  }
  .product3 {
    font-size: 20px;
    text-align: center;
    color: aqua;

  }
  .product4 {
    font-size: 20px;
    text-align: center;
    color: aqua;
  }

button{
  color: white;
  background-color: crimson;
}

.total {
  background-color: aliceblue;
  text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#bbb;
    color: black;
    text-align:center;
    padding-bottom: 1px;
    height: 24px; 
    line-height: 0.2;
  }
